<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Лаба</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <style type="text/css">
        body {
            background-color: rgba(28, 24, 39, 0.979);
        }
        
        .box {
            max-width: 370px;
            /* margin-left: 500px; */
            margin-top: -20px;
            border-radius: 3px;
        }
        
        p {
            font-size: 20px;
            margin-left: 80px;
            margin-top: 20px;
            color: #fdfdfd;
        }
    </style>
</head>


<body>
    <form action="/users/new" method="get">
        <button type="submit">Регистрация</button>
    </form>
    <form action="/users/old" method="get">
        <button type="submit">Войти</button>
    </form>

    <br>
    <script>
        document.getElementById("temp").style.display = "none";
        // const u = require('H://myProjects//XML//daServerbot//routes//users.js')
    </script>

</body>